@using HeroAcademy.CustomHtmlHelpers

@model HeroAcademy.Models.HeroLesson

@{
    ViewBag.Title = "Index";
}

<h3>Participant's details</h3>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        <img width="150" height="150" class="img-rounded" src="data:image;base64,@System.Convert.ToBase64String(@Model.Student.ProfilePicture)" />
        @Model.FullName
    </div>
    <div class="table">
        <div class="panel-body">
            <div>
                <b>Course Name:</b>
                <span>@Model.Course.Name</span>
            </div><p />
            <div><b>Instructor Name :</b>@Model.Instructor.Name</div><p />
            <div><b>Qualification Name :</b>@Model.Qualification.Name</div><p />
            <div><b>Student Name :</b> @Model.Student.Name</div><p />
            <div><b>Date Registered :</b>@Model.DateTime.ToString("d MMM yyyy")</div><p />
            <div><b>Duration :</b>@Model.Duration</div><p />
            <div><b>Classroom :</b>@Model.Classroom</div><p />
            <div><b>Email :</b>@Model.Student.Email</div><p />
        </div>
    </div>
    <div class="panel-heading">
        <a class='btn btn-default' href="@Url.Action("Index", "HeroLessons")" style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>

