@using HeroAcademy.CustomHtmlHelpers

@model HeroAcademy.Models.HeroLesson

@{
    ViewBag.Title = "Index";
}

<div class='panel panel-primary'>
    <div class='panel-heading'>
        Participants details
    </div>


        <div class="table">
            <div class="panel-body">
                <div >
                    <b>Course Name:</b>
                    <span>@Model.Course.Name</span>
                </div>
                <div><b>Instructor Name :</b>@Model.Instructor.Name</div>
                <div><b>Qualification Name :</b>@Model.Qualification.Name</div>
                <div><b>Student Name :</b> @Model.Student.Name</div>
                <div><b>Full Name :</b> @Model.FullName</div>
                <div><b>Date of Birth :</b> @Model.DateOfBirth.ToString("d MMM yyyy")</div>
                <div><b>DateTime :</b>@Model.DateTime.ToString("d MMM yyyy")</div>
                <div><b>Duration :</b>@Model.Duration</div>
                <div><b>Classroom :</b>@Model.Classroom</div>
            </div>
        </div>
            <div class="panel-footer">
                <a class='btn btn-primary' href="@Url.Action("Index", "HeroLessons")" style='width:80px'>
                    <i class='glyphicon glyphicon-chevron-left'></i> Back
                </a>
            </div>
    </div>

